/*poppins fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*inter fonts:- font-family: "Inter", sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: 0;
}


body{
    /* max-width: 1440px; */
}


/*nav and header section*/
#headerSection{
    width: 1212px;
    margin: 50px auto 100px;
}
.navContainer{
    width: 1124px;
    height: 48px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 56px;
}
.navSearch{
    display: flex;
    align-items: center;
}
.navSearch input{
    padding-left: 28px;
    width: 508px;
    height: 48px;
    border-radius: 100px;
    border: none;
    background-color: #F1F1F1;
    position: relative;
}
.navSearch input[placeholder]{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 16px;
    color: #7B7B7B;
}
.navSearch i{
    font-size: 20px;
    color: #7B7B7B;
    position: absolute;
    border: none;
    background-color: transparent;
    margin-left: 470px;

}
.navSearch i:hover{
    color: #FF297D;
    cursor: pointer;
}
.navItem{
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.navItem li{
    list-style: none;
}
.navItem li a{
    color: #707070;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.navItem li a:hover{
    color: #FF9D00;
}



/*Mi LED TV 4A PRO 32: section-1*/
#headingBannerSection{
    width: 1212px;
    margin: 0 auto 100px;
    background-color: #FEEAE9;
    padding: 50px;
    border-radius: 20px;
}
.contentSize{
    width: 1124px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
}
.textAndButtons{
    width: 560px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.textAndButtons h1{
    font-size: 56px;
    font-weight: bold;
}
.textAndButtons p{
    font-size: 16px;
    margin-right: 100px;
    font-family: "Inter", sans-serif;
    color: #4E4E4E;
}
.textAndButtons h2{
    font-size: 41px;
    margin-right: 100px;
    font-family: "Inter", sans-serif;
    color: #FF136F;
}
.headingButtons button{
    font-size: 16px;
    font-family: "Inter", sans-serif;
    background-image:linear-gradient(to bottom, #FF589B, #FF136F);
    padding: 14px 20px;
    border: none;
    color: white;
    border-radius: 6px;
    display: flex;
    align-items: center;
}
.headingButtons button:hover{
    cursor: pointer;
    background-image:linear-gradient(#7B7B7B);
}
.headingButtons button i{
    font-size: 16px;
    color: white;
    margin-left: 10px;
}
.imageTV img{
    width: 402px;
}


/*categories section: section-2*/
#categoriesSection{
    width: 1212px;
    margin: 0 auto 100px;
}
.categoriesItemContainer{
    width: 1124px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-family: "Poppins", sans-serif;
}
.categoriesItemContainer h2{
    font-size: 36px;
    font-weight: 600;
}
.categoriesItems{
    display: flex;
    gap: 26px;
}
.categoriesItems h3{
    font-size: 36px;
    font-weight: 500;
    color: white;
}
.watchTextImg{
    width: 359px;
    height: 120px;
    background-image:linear-gradient(to bottom, #FFD019, #FF9C35);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px;
    border-radius: 10px;
}
.watchTextImg img{
    width: 90px;
}
.bagTextImg{
    width: 359px;
    height: 120px;
    background-image:linear-gradient(to bottom, #FF589B, #FF136F);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px;
    border-radius: 10px;
}
.bagTextImg img{
    width: 90px;
}
.shoesTextImg{
    width: 359px;
    height: 120px;
    background-image:linear-gradient(to bottom, #4289FF, #3F07F8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px;
    border-radius: 10px;
}
.shoesTextImg img{
    width: 110px;
}



/*shoes and backpack section: section-3*/
#shoesAndBackpackSection{
    margin: 0 auto 100px;
    background-color: #F4F4F4;
}
.shoesAndBackpackContainer{
    width: 1124px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
}
/*shoes section: section-3*/
.shoesSection{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.shoesNameSeeAll{
    display: flex;
    justify-content: space-between;
    color: black;
}
.shoesNameSeeAll h3 a{
    display: flex;
    justify-content: space-between;
    color: #FF9D00;
}
.shoesImgAndTextAndButtonContainer{
    display: flex;
    gap: 24px;
    margin-top: 30px;
}
.shoesItem{
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 24px;
    background-color: white;
    border-radius: 20px;
}
.shoesItem img{
    width: 297px;
}
.shoesItemText{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    justify-content: center;
}
.shoesItemText h2{
    font-size: 24px;
    font-weight: 500;
}
.shoesItemText p{
    font-size: 16px;
    color: #4E4E4E;
    text-align: center;
}
.shoesBtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.shoesBtn button{
    display: flex;
    font-size: 16px;
    padding: 14px 20px;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 6px;
    background-color: black;
}
.shoesBtn button:hover{
    cursor: pointer;
    background-color: #F4F4F4;
    color: black;
}
.shoesBtn button i{
    font-size: 16px;
    margin-left: 10px;
}

/*backpack section: section-3*/
.backpackSection{
    display: flex;
    flex-direction: column;
    margin: 0 auto 100px;
    background-color: #F4F4F4;
}
.backpackNameSeeAll{
    display: flex;
    justify-content: space-between;
    color: black;
    margin-top: 50px;
}
.backpackNameSeeAll h3 a{
    display: flex;
    justify-content: space-between;
    color: #FF9D00;
}
.backpackImgAndTextAndButtonContainer{
    display: flex;
    gap: 24px;
    margin-top: 30px;
}
.backpackItem{
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 24px;
    background-color: white;
    border-radius: 20px;
}
.backpackItem img{
    width: 297px;
}
.backpackItemText{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    justify-content: center;
}
.backpackItemText h2{
    font-size: 24px;
    font-weight: 500;
}
.backpackItemText p{
    font-size: 16px;
    color: #4E4E4E;
    text-align: center;
}
.backpackBtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.backpackBtn button{
    display: flex;
    font-size: 16px;
    padding: 14px 20px;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 6px;
    background-color: black;
}
.backpackBtn button:hover{
    cursor: pointer;
    background-color: #F4F4F4;
    color: black;
}
.backpackBtn button i{
    font-size: 16px;
    margin-left: 10px;
}